/* Place your CSS styles in this file */
body{background-color:rgb(243, 221, 225);}

h1 {
    text-align: center;
    font-family: "CASTELLAR", CASTELLAR;
    font-weight: bold;
    color:rgb(198, 149, 158);
    font-size: larger;
    ;
}

ul {list-style-type: none;
background-color :rgb(227, 203, 207);
text-align: center; }

p {
    color :black;
        text-align: left;
    font-size:medium;
}

li {display: inline;padding: 5cm;}

p2 {
    text-align:center;
    font-size:medium;
    color:black;
}

p3 {
    text-align: left;
    font size:medium;
}
